$sub-elem:    #DCDCDC;
$shadow  :      0px 2px 10px rgba(0, 0, 0, 0.1);

* {
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
font-family: Arial, sans-serif;
}

.body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1060px;
    width: 95%;
    margin: 0 auto;
}
.active{
    color:#0029FF;
}
.section-header{
    display: flex;
    justify-content:space-between;
    padding: 25px 0;
    border-bottom: 1px solid $sub-elem;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    .section-header-left{
        display: flex;
        height: 100%;
        align-items: center;

        @media screen and (max-width: 600px) {
            justify-content:space-between;
            margin-bottom: 25px;
        }

        .section-header__title{
            font-size: 36px;

            @media screen and (max-width: 1024px) {
                font-size: 28px;
            }
            @media screen and (max-width: 768px) {
                font-size: 24px;
            }
            
        }
        .section-header__update-list{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin-left: 30px;
            border-radius: 100%;
            box-shadow: $shadow;
            transition: .1s;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                width: 30px;
                height: 30px;
                margin-left: 15px;
            }
            
            .update-list_img{
                width: 20px;
                height: 16px;

                @media screen and (max-width: 768px) {
                    width: 18px;
                    height: 14px;
                }
            }
        }
        .section-header__update-list:hover{
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);;
        }
    }
    .section-header-right{
        display: flex;
        height: 100%;
        align-items: center;
        .section-header__search-form{
            position: relative;
            width: 320px;
            height: 40px;
            box-shadow: $shadow;

            @media screen and (max-width: 1024px) {
                width: 300px;
            }
            @media screen and (max-width: 768px) {
                width: 250px;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
        .search-form_input{
            width: 100%;
            height: 100%;
            padding-left: 10px;
        }
        .search-form_img{
            position: absolute;
            width: 20px;
            height: 20px;
            right: 13px;
            top: 10px;
        }
    }
}


.section-main{
    .section-main-options{
        display: flex;
        justify-content: space-between;
        padding: 25px 0;

        .options-resources{
            .options-resources__item{
                font-size: 14px;
                padding-right: 20px;
                font-weight: 700;
                cursor: pointer;
            }
        }   
        .options-selector-display{
            display: flex;

            .display__line{
                width: 18px;
                height: 18px;
                margin-left: 10px;
                cursor: pointer;
            }
            .display__block{
                width: 18px;
                height: 18px;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
    .section-main-list{
        margin-bottom: 50px;

        .section-main-list-line{
            display: none;
            .list-line__item{
                height: 190px;
                margin-bottom: 20px;
                box-shadow: $shadow;

                @media screen and (max-width: 600px) {
                    height: fit-content;
                }

                .item-wrapper{
                    display: flex;
                    justify-content:space-between;
                    padding: 30px;
                    height: 85%;
                    @media screen and (max-width: 600px) {
                        flex-direction: column;
                        padding: 15px;
                    }
                    .item-image{
                        width: 20%;

                        @media screen and (max-width: 1024px) {
                            width: 30%;
                        }
                        @media screen and (max-width: 768px) {
                            width: 35%;
                        }
                        @media screen and (max-width: 600px) {
                            width: 100%;
                        }

                        .item-image_img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    .item-preview{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 76%;
                        
                        @media screen and (max-width: 1024px) {
                            width: 66%;
                        }
                        @media screen and (max-width: 768px) {
                            width: 61%;
                        }
                        @media screen and (max-width: 600px) {
                            width: 100%;
                        }
                        
                        .item_preview__title{
                            font-size: 18px;
                            font-weight: 700;
                            cursor: pointer;

                            @media screen and (max-width: 600px) {
                               margin-top: 15px;
                               font-size: 16px;
                            }
                        }
                        .item_preview__descr{
                            font-size: 14px;
                            font-weight: 400;

                            @media screen and (max-width: 600px) {
                                margin-top: 15px;
                                font-size: 12px;
                             }
                        }
                    }
                }
                .item-info{
                    display: flex;
                    justify-content:space-between;
                    margin: 5px 30px;
                    font-size: 14px;
                    color: $sub-elem;
                }
            }
        }
    }

    .section-main-list-block{
        display: flex;
        flex-wrap: wrap;

        .list-block__item{
            width: 48.5%;
            margin-right: 3%;
            margin-bottom: 3%;
            height: 256px;
            box-shadow: $shadow;

            @media screen and (max-width: 1024px) {
                height: 320px;
            }
            @media screen and (max-width: 600px) {
                height: 320px;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 3%;
            }

            .item-preview{
                height: 90%;
                padding: 30px 30px 0 30px;

                @media screen and (max-width: 768px) {
                    padding: 20px 20px 0 20px;
                }

                .item-preview__title{
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 25px;
                    cursor: pointer;

                    @media screen and (max-width: 600px) {
                        font-size: 15px;
                    }
                }
                .item-preview__descr{
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 25px;

                    @media screen and (max-width: 600px) {
                        font-size: 13px;
                    }
                }
                .item-preview__more{
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;

                    @media screen and (max-width: 600px) {
                        font-size: 13px;
                    }
                }
            }
            .item-info{
                display: flex;
                justify-content:space-between;
                margin: 0 30px ;
                font-size: 14px;
                color: $sub-elem;
            }
        }
        .list-block__item:nth-child(2n){
            margin-right: 0;
        }
    }

    .section-main-pagination{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        .pagination__item{
            font-size: 18px;
            font-weight: 700;
            margin-right: 15px;
            cursor: pointer;
        }
    }
}

