* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Arial, sans-serif;
}

.body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1060px;
  width: 95%;
  margin: 0 auto;
}

.active {
  color: #0029FF;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #DCDCDC;
}
@media screen and (max-width: 600px) {
  .section-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section-header .section-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 600px) {
  .section-header .section-header-left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}
.section-header .section-header-left .section-header__title {
  font-size: 36px;
}
@media screen and (max-width: 1024px) {
  .section-header .section-header-left .section-header__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .section-header .section-header-left .section-header__title {
    font-size: 24px;
  }
}
.section-header .section-header-left .section-header__update-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 30px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .section-header .section-header-left .section-header__update-list {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
}
.section-header .section-header-left .section-header__update-list .update-list_img {
  width: 20px;
  height: 16px;
}
@media screen and (max-width: 768px) {
  .section-header .section-header-left .section-header__update-list .update-list_img {
    width: 18px;
    height: 14px;
  }
}
.section-header .section-header-left .section-header__update-list:hover {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.section-header .section-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-header .section-header-right .section-header__search-form {
  position: relative;
  width: 320px;
  height: 40px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
  .section-header .section-header-right .section-header__search-form {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .section-header .section-header-right .section-header__search-form {
    width: 250px;
  }
}
@media screen and (max-width: 600px) {
  .section-header .section-header-right .section-header__search-form {
    width: 100%;
  }
}
.section-header .section-header-right .search-form_input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}
.section-header .section-header-right .search-form_img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 13px;
  top: 10px;
}

.section-main .section-main-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
.section-main .section-main-options .options-resources .options-resources__item {
  font-size: 14px;
  padding-right: 20px;
  font-weight: 700;
  cursor: pointer;
}
.section-main .section-main-options .options-selector-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-main .section-main-options .options-selector-display .display__line {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  cursor: pointer;
}
.section-main .section-main-options .options-selector-display .display__block {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  cursor: pointer;
}
.section-main .section-main-list {
  margin-bottom: 50px;
}
.section-main .section-main-list .section-main-list-line {
  display: none;
}
.section-main .section-main-list .section-main-list-line .list-line__item {
  height: 190px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list .section-main-list-line .list-line__item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  height: 85%;
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
}
.section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-image {
  width: 20%;
}
@media screen and (max-width: 1024px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-image {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-image {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-image {
    width: 100%;
  }
}
.section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-image .item-image_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 76%;
}
@media screen and (max-width: 1024px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview {
    width: 66%;
  }
}
@media screen and (max-width: 768px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview {
    width: 61%;
  }
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview {
    width: 100%;
  }
}
.section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview .item_preview__title {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview .item_preview__title {
    margin-top: 15px;
    font-size: 16px;
  }
}
.section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview .item_preview__descr {
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list .section-main-list-line .list-line__item .item-wrapper .item-preview .item_preview__descr {
    margin-top: 15px;
    font-size: 12px;
  }
}
.section-main .section-main-list .section-main-list-line .list-line__item .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 30px;
  font-size: 14px;
  color: #DCDCDC;
}
.section-main .section-main-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-main .section-main-list-block .list-block__item {
  width: 48.5%;
  margin-right: 3%;
  margin-bottom: 3%;
  height: 256px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
  .section-main .section-main-list-block .list-block__item {
    height: 320px;
  }
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list-block .list-block__item {
    height: 320px;
  }
}
@media screen and (max-width: 480px) {
  .section-main .section-main-list-block .list-block__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3%;
  }
}
.section-main .section-main-list-block .list-block__item .item-preview {
  height: 90%;
  padding: 30px 30px 0 30px;
}
@media screen and (max-width: 768px) {
  .section-main .section-main-list-block .list-block__item .item-preview {
    padding: 20px 20px 0 20px;
  }
}
.section-main .section-main-list-block .list-block__item .item-preview .item-preview__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list-block .list-block__item .item-preview .item-preview__title {
    font-size: 15px;
  }
}
.section-main .section-main-list-block .list-block__item .item-preview .item-preview__descr {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list-block .list-block__item .item-preview .item-preview__descr {
    font-size: 13px;
  }
}
.section-main .section-main-list-block .list-block__item .item-preview .item-preview__more {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .section-main .section-main-list-block .list-block__item .item-preview .item-preview__more {
    font-size: 13px;
  }
}
.section-main .section-main-list-block .list-block__item .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px;
  font-size: 14px;
  color: #DCDCDC;
}
.section-main .section-main-list-block .list-block__item:nth-child(2n) {
  margin-right: 0;
}
.section-main .section-main-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.section-main .section-main-pagination .pagination__item {
  font-size: 18px;
  font-weight: 700;
  margin-right: 15px;
  cursor: pointer;
}